<% page_title('Home') %>

<% if current_user %>
<h1>Welcome  <%= "back, #{current_user.name}" %></h1>
<%= render partial: 'calendars/table', locals: { calendars: current_company.calendars } %>
<% end %>
