<tr>
  <td>
    <%= link_to calendar.name, company_calendar_path(current_company, calendar) %>
  </td>
  <td>
    
  </td>
  <td>
    <%= link_to fa_icon('eye'), company_calendar_path(current_company, calendar), class: 'btn btn-primary' %>
    <%= link_to fa_icon('cog'), edit_company_calendar_path(current_company, calendar), class: 'btn btn-primary' %>
    <%= link_to fa_icon('trash'), company_calendar_path(current_company, calendar), class: 'btn btn-danger', method: :delete %>
  </td>
</tr>
